<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <table width="500" border="1" bordercolor="black" cellspacing="2">
        <tr>
        {% for item in orders[0] %}
            <td>{{ item }}</td>
        {% endfor %}
        </tr>

        {% for order in orders %}
        <tr>
            {% for item in order %}
                <td>{{ order[item] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>